.notre-equipe {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2em;                          
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 2em;
  }
  
  .notre-equipe img {
    width: 100%;
    height: 60vh;
    object-fit: cover;  
    border-radius: 6px;
  }
  
  .carte-membre {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
  }
  
  .carte-membre .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 1fr;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.5); /* blanc transparent à 50% */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 1em;
    text-align: center;
    border-radius: 6px;
  }
  
  .carte-membre:hover .overlay {
    opacity: 1;
  }
  
  .carte-membre .overlay .texte h4 {
    margin: 0;
    font-weight: bold;
    font-size: 1.3em;
    color: #000;
  }
  
  .carte-membre .overlay .texte h5 {
    margin: 5px 0 10px;
    font-weight: normal;
    font-size: 1.1em;
    color: #000;
  }
  
  .carte-membre .overlay .texte p {
    margin: 0;
    margin-top: 20px;
    font-size: 1em;
    text-align: center;
    color: #000;
  }
  
  /* Responsive : 2 colonnes sur tablette, 1 sur mobile 
  @media (max-width: 900px) {
    .notre-equipe {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .notre-equipe {
      grid-template-columns: 1fr;
    }
  }
  */


