/* Page d'accueil */
body.home h1 {
  color: white;
  font-size: 3em;
  text-align: center;
  font-weight: 30em;
  text-shadow: 
    -0.01em -0.01em 0 #29302a,
     0.01em -0.01em 0 #29302a,
    -0.01em  0.01em 0 #29302a,
     0.01em  0.01em 0 #29302a,  
     0.02em  0.02em 0 rgba(0, 0, 0, 0.7);
  max-width: 90vw;     /* Limite à 90% de la largeur de l'écran */
  margin-top: 10vh;
  margin-bottom: 6vh;
  word-wrap: break-word;
  box-sizing: border-box;
}




body.home h2 {
  color: white;
  font-size: 1.6em;
  text-align: center;
  margin-top: 2em;
  max-width: 90vw;     /* idem, pour éviter le dépassement */
  font-weight: bold;
  font-family: initial;
  text-shadow: 
    -0.01em -0.01em 0 #29302a,
     0.01em -0.01em 0 #29302a,
    -0.01em  0.01em 0 #29302a,
     0.01em  0.01em 0 #29302a,   
     0.01em  0.01em 0 rgba(0, 0, 0, 0.7);
  word-wrap: break-word;
  box-sizing: border-box;
}

body.home h1,
body.home h2 {
  max-width: 90vw; /* un peu plus permissif en mode portrait */
}



.separator-home {
    border: 0.1em solid rgba(186, 115, 0); 
    height: 0.2em;
    background-color: rgba(243, 199, 87);
    width: 60vw;      /* ou 100% si tu veux que ça aille d’un bord à l’autre */
    margin: 0em auto;
    border-radius: 0.3em;
  }


  .background-accueil {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    background-image: url("Images/yanping-ma-unsplash.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.6;        /* 50% de transparence */
    z-index: -1;
    filter: blur(30px);
  }

  #background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.6; /* même transparence que ton ancienne image */
    filter: blur(1.5px); /* même flou */
    filter: brightness(90%);
}






@media screen and (orientation: portrait) {
  body.home h1 {
    font-size: 5em;
    margin-top: 30%;
  }

  body.home h2 {
    font-size: 2.2em;
    margin-bottom: 2em;
  }


}





