
.left-content-mission {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto; /* s'ajuste selon le contenu */
    gap: 1em;
    margin: 7vw;
    margin-top: 1em;
}

/* Texte en haut à gauche */
.text-left-mission {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: white;
    font-size: 1.1em;
    text-align: left;
    padding:2em;
    border-top: 3px solid #ffcc32;
    border-left: 3px solid #ffcc32;
    text-shadow:
        -1px -1px 0 #5c5447,
        1px -1px 0 #5c5447,
        -1px 1px 0 #5c5447,
        1px 1px 0 #5c5447,
        1px 1px 0 rgba(0, 0, 0, 0.7);
}

/* Image en bas à gauche */
.image-bottom-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.image-bottom-left img {
    width: 100%;
    height: 17em;
    display: block;
    border-radius: 6px;
}

.image-right {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.image-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 6px;
}


















.text-above {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-shadow:
        -1px -1px 0 #5c5447,
        1px -1px 0 #5c5447,
        -1px 1px 0 #5c5447,
        1px 1px 0 #5c5447,
        1px 1px 0 rgba(0, 0, 0, 0.7);
    padding-top : 1.5em;
    padding-bottom: 1.5em;

}

.mosaique-biomim-background{
    background-color: #61615b;  
    margin: 7vw;
    margin-top: 1.2em;
    margin-bottom: 0px;
}


.mosaique-biomim {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto; /* s'ajuste selon le contenu */
    gap: 1em;
    margin: 1.8em;
    margin-top: 0px;
    align-items: center;
}

.mosaique-biomim img{
    width: 100%;
    height: 50vh;
    display: block;
    border-radius: 6px;

}

.text-one{
    text-align: right;
    font-size: 1.2em;
    color: white;

}

.text-two{
    text-align: left;
    font-size: 1.2em;
    color: white;

}





















  
.nos-valeurs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40%; /* La moitié de la largeur */
    height: 30%; /* La moitié de la hauteur */
    border-top: 4px solid #ffcc32; /* Bordure jaune en haut */
    border-left: 4px solid #ffcc32; /* Bordure jaune à gauche */
  }
  

.nos-valeurs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;   /* ← toutes les lignes prennent la même hauteur */
    gap: 0em;
    margin-top: 1em;
    align-items: stretch;
    padding-top: 2em;
    position: relative;
    margin: 7vw;

}



.colonne-1, .colonne-2, .colonne-3 {
    display: flex;
    flex-direction: column;
    padding: 0.5em;

}


.Nom-valeur {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 1.2em;;
    margin-top: 25px;
    margin-bottom: 25px;
}

.Description-valeur {
    flex-grow: 1;
    margin-bottom: 10px;
    background-color: #61615b;
    color: white; 
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    align-items: center;
}








